.parent {
    background: rgba(93, 220, 225, 0.5);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
.parent[data-isOpen="true"] {
  width: 400px;
  height: 200px;
  
}

  .child {
    width: 30px;
    height: 30px;
    background: #071bcf;
    border-radius: 50%;
    z-index: 1;
  }